#projects {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    margin-bottom: 2rem;
}

.slideshow-container {
    position: relative;
}
.slide {
    width: 100%;
}

.slide img {
    width:100%;
    max-width: 700px;
    max-height: 800px;
    height: 580px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,8.0);
}

.prev, .next {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {left: 10px;}
.next {right: 10px;}

.prev:hover, .next:hover {
    background-color: black;
}

@keyframes fadeEffect {
    from { opacity: 0.4;}
    to {opacity: 1;}
}

.projects-info {
    max-width: 500px;
    font-size: 1rem;
    line-height: 1.6;
}

.projects-info h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    #projects {
      flex-direction: column;
      padding: 2rem 1rem;
    }
  }

.videos {
    position: relative;
    justify-content: right;
    padding: 55px;
    width: 100%;
    max-width: 499px;
}

.videoSlide img{
    width: 100%;
    max-width: 700px;
    max-height: 800px;
    height: 892px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,8.0);
}

.prevVideo, .nextVideo {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prevVideo {left: 65px;}
.nextVideo {right: 65px;}

.prevVideo:hover, .nextVideo:hover {
    background-color: black;
}

.projectDescription1 , .projectDescription2{
    font-size: 19px;
}